img{
    float: left;
    margin: 20px;
    width: fit-content;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.img row{
    float:right;
    margin: 10px;
    width: fit-content;
}

.head {
    margin-top: 25px;
}
#about {
    background-color: aliceblue, 0.5;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}